<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735079555774-1t2kleba7tb7ah3evl8q3l9vkjcar0kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735079555774-1t2kleba7tb7ah3evl8q3l9vkjcar0kc</string>
	<key>API_KEY</key>
	<string>AIzaSyC8JWJPVv4qu9ToDCejVJhuyWoCxw7yw50</string>
	<key>GCM_SENDER_ID</key>
	<string>735079555774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.echnoAttendance</string>
	<key>PROJECT_ID</key>
	<string>echno-attendance-project</string>
	<key>STORAGE_BUCKET</key>
	<string>echno-attendance-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735079555774:ios:a813844b1e0bfdf50a34ef</string>
</dict>
</plist>